body {
    background-color: #dfe4ea;
}
nav{
    background-color: #2980b9;
    font-family: 'Roboto Mono', monospace;
}
.judul {
    height: 50px;
    background-color: #3498db;
    font-family: 'Roboto Mono', monospace;
}
.judul-2{
    height: 50px;
    background-color: #3498db;
    font-family: 'Roboto Mono', monospace;
}
.card{
    height: 50vh;  
    overflow: auto;
    background-color: #6dadd8;
    border: none;
}
.text-card{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    font-size: 14px;
     
}
.number-card{
    font-size: 18px;
}
.background{
    background-color: #3498db;
}
.text-card button{
    margin-left: 220px;
    
}
.button-simpan{
    width: 100%;
    background-color: #3498db;
}
.judullist {
    height: 50px;
    font-family: 'Roboto Mono', monospace;
    
}
.list-items{
    width: 100%;
    height: 595px;
    padding-bottom: 15px;
    background-color: #6dadd8;
    overflow: auto;
}
.list-card{
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: white;
}
.list-card img{
    width: 120px;
    height: 120px;
    margin-left: 40px;
}
.text-1{
    font-size: 14px;
    margin-top: -10px;
    color: #2980b9;
}
.text-2{
    font-size: 12px;
    margin-top: -15px;
    color: #747d8c;
}
.hero a{
    background-color: #2980b9;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}
.list-card button{
    position: relative;
    background-color: #2980b9;
    margin-top: -20px;
    margin-left:25px;
    width: 150px;
    font-size: 12px;
    letter-spacing: 0.10em;

}